---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
    name: postgres-data-claim
    labels:
        app: postgres
spec:
    storageClassName: standard
    accessModes:
        - ReadWriteOnce
    resources:
        requests:
            storage: 10Gi
