name: Verify License Headers

on:
    push:
        branches: [ master ]
    pull_request:
        branches: [ master ]

jobs:
    build:

        runs-on: ubuntu-latest

        steps:
            -   uses: actions/checkout@v2
            -   name: Set up JDK 16
                uses: actions/setup-java@v2
                with:
                    distribution: 'adopt'
                    java-version: 16
            -   name: Verify Licenses
                run: mvn -B license:check
